@import '../../App.scss';

.footer {
  color: $clr-whitesmoke;
  display: flex;
  // justify-content: center;
  justify-content: space-around;
  padding-block: 10px;
  // border: 2px solid red;
}

.footer-des{
  width: 50%;
}

.follow{
  display: flex;
  // justify-content: center;
  align-items: center;
}

.pic{
    width: 95px;
    height: 30px;
    margin: 10px;
}

.credit{
  color: $clr-whitesmoke;
  background: $clr-dark;
  text-align: center;
  min-height: 30px;
  align-items: center;
  justify-content: center;
}
.yum{
  color: $clr-black;
}

@media (max-width:600px) {
  .usefulLinks{
    display: none;
  }
}
@media (max-width:400px) {
  .contactus{
    display: none;
  }
}