@import '../../App.scss';

.parent {
  display: flex;
  width: 100%;
  // border: 2px solid red;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 10px;
  height: min-content;
}

.child1,
.child2 {
  // border: 2px solid blue;
  min-width: 320px;
  min-height: 200px;
  flex: 1;
  padding: 10px;
}
.child1 {
  background: url('../../assets/images/header_image.png') center/cover no-repeat;
  transition: 5s;

  animation: animate 30s ease-in-out 1s infinite alternate-reverse backwards ;
}

@keyframes animate {
  0%{
    background-image: url("../../assets/images/header_image2.png");
  }
  20%{
    background-image: url("../../assets/images/recipe\ \(7\).png");
  }
  40%{
    background-image: url("../../assets/images/header_image.png");
  }
  60%{
    background-image: url("../../assets/images/header_image2.png");
  }
  80%{
    background-image: url("../../assets/images/recipe\ \(7\).png");
  }
  100%{
    background-image: url("../../assets/images/header_image.png");
  }
}

.child2 {
  padding-top: 5rem;
  padding-inline: 10px;
}
